{{!< default}}
<div class="container padtop20">
	
	<h1>Welcome to Community Planner</h1>
	
  <div class="jumbotron">
    <!-- <img src="/images/logos/bootle-2020-logo.svg" width="800"> -->
    <img class="img-responsive" src="/images/logos/bootle-2020-logo.svg">
    <br/><br/>
    <p>This is the communtiy planner web application.</p>
  </div>
	
</div>
