<div id="test" class="container">
  <div class="row">
    <div class="col-md-10 col-sm-offset-1">
      
      <br>
      <h4>Tests.</h4>
      <hr>
      
      <div>
        <p>Test</p>
        <button id="test1Button" class="btn btn-default" type="submit">Test 1</button>
      </div>
      
      <br>
      
    </div>
  </div>
</div>