<div id="test" class="container">
  <div class="row">
    <div class="col-md-10 col-sm-offset-1">
      
      <br>
      <h4>Tests.</h4>
      <hr>
      
      <div>
        <p>Test APIs</p>
        <button id="testListButton" class="btn btn-default" type="submit">Test List</button>
        <button id="testGetButton" class="btn btn-default" type="submit">Test Get</button>
        <button id="testCreateButton" class="btn btn-default" type="submit">Test Create</button>
        <button id="testUpdateButton" class="btn btn-default" type="submit">Test Update</button>
        <button id="testDeleteButton" class="btn btn-default" type="submit">Test Delete</button>
      </div>
      
      <br>
      
      <div>
        <p>Comment endpoints</p>
        <button id="testListCommentsButton" class="btn btn-default" type="submit">Test List Comments</button>
        <button id="testListCommentIdsButton" class="btn btn-default" type="submit">Test List Comment Ids</button>
        <button id="testGetCommentByIdButton" class="btn btn-default" type="submit">Test Get Comment By Id</button>
        <button id="testCreateCommentButton" class="btn btn-default" type="submit">Test Create Comment</button>
        <!-- <button id="testUpdateButton" class="btn btn-default" type="submit">Test Update</button> -->
        <!-- <button id="testDeleteButton" class="btn btn-default" type="submit">Test Delete</button> -->
      </div>
      
      <br>
      
      <div>
        <p>Test Eval function</p>
        <button id="testEvalFunctionButton" class="btn btn-default" type="submit">Test Eval Function</button>
        <button id="testWktToGeoJsonButton" class="btn btn-default" type="submit">Test WKT to GeoJSON</button>
        <button id="testGeoJsonToWktButton" class="btn btn-default" type="submit">Test GeoJSON to WKT</button>
      </div>
      
      <br>
      
      <div>
        <p>Symbols Endpoints</p>
        <button id="testGetSymbolsBySlugs" class="btn btn-default" type="submit">Test Get Symbols By Slugs [POST Request]</button>
      </div>
      
    </div>
  </div>
</div>